/*
	****************** Colors ******************
*/

$c-white : #fff;
$c-black : #000;
$c-blue : #49CCDF;

$c-mud : #998067;
$c-beige : #D6BEA5;
$c-darkgrey : #2B2B2B;
$c-darkbrown : #998067;
$c-greyblack : #424242;


$c-greybg : #F2F2F2;
$c-lightgrey : #F5F5F5;
$c-grey : #DBDBDB;

$c-navgrey : #2E2E2E;
$c-inputgrey : #C5C5C5;